*	{
    padding: 0;
    margin:	0;
}

body {
    font-family: Arial, sans-serif;
}

.center {
    width: 1024px;
    margin: 0 auto;
}

#mainBackground {
    width: 100%;
    height: 600px;
    background-image: url("../images/baner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: white;

    h2 {
        padding-top: 24px;
    }
    
    h1 {
        color: white;
        text-align: center;
        font-size: 150px;
        line-height: 550px;
    }
}