* {
    padding: 0;
    margin:	0;
}

body {
    font-family: Arial, sans-serif;
}

.center {
    width: 1024px;
    margin: 0 auto;
}

#mainBackground {
    width: 100%;
    height: 400px;
    background-image: url("../images/baner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center top;
    color: white;

    h2 {
        padding-top: 24px;
    }
    
    h1 {
        color: white;
        text-align: center;
        font-size: 150px;
        line-height: 400px;
    }
}

.select {
    padding: 20px;
    h2 {
        padding:20px;
    }
    select {
        font-size: 22px;
    }
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    max-width: 1200px;
    margin: 0 auto;

    .bookBox {
        width: 33%;
        height: 500px;
        border: 1px double black;
        text-align: center;
        float: left;
        overflow: hidden;
        border-radius: 15px;

        .coverBox {
            width: 220px;
            height: 312px;
            border: 1px double black;
            text-align: center;
            margin: 12px auto 12px auto;
            overflow: hidden;
            border-radius: 15px;
    
            img {
                width:220px;
                height: 312px;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
    
                &:hover {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
    
        }
    
        .personalInfo {
            height: 100px;
            margin: auto 12px;
    
            .authorName {
                text-transform: uppercase;
            }
    
            p {
                margin: 16px;
            }
        }    
                
        .formatBoxInside {
            width: 50px;
            height:30px;
            line-height:30px;
            background-color: teal;
            text-transform: uppercase;
            border: 1px solid red;
            border-radius: 10px;
            display: inline-block;
        }
        
        div.formatBoxInside + div.formatBoxInside {
            margin-left: 4px;
        }
    }
}

    





